*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-title{
  text-align: center;
}

.menu-img{
  height: 160px;
  width: 260px;
  border : 5px solid goldenrod;
  border-radius: 5px;
}

/* .menu-container{
  display: flex;
} */

/* .header-container{
  display: flex;
} */

.section-center{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  justify-content: center;
}